<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable"><button (click)="sort('name')">Name</button></th>
      <th class="sortable"><button (click)="sort('type')">Type</button></th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <!-- TODO: put <tr *ngFor=""></tr> here -->
   <tr *ngFor="let member of satellites">
   <td> {{member.name}}</td>
   <td [class.warning]="member.shouldShowWarning()"> {{member.type}}</td>
   <td> {{member.operational}}</td>
   <td> {{member.orbitType}}</td>
   <td> {{member.launchDate}}</td>
   </tr>
</table>